David Golden <dagolden@cpan.org> <xdg@xdg.me>
Ricardo Signes <rjbs@semiotic.systems> <rjbs@cpan.org>
Ricardo Signes <rjbs@semiotic.systems> <rjbs@users.noreply.github.com>
Tatsuhiko Miyagawa <miyagawa@bulknews.net> <miyagawa@gmail.com>
